@page "/"

<div class="memory-tester-page home">
    <h1><FluentEmoji Value="@(new Emojis.PeopleBody.Color.Default.Brain())" /> Memory Tester</h1>

    <div class="quick-navigation">
        <FluentCard Width="350px" Height="200px" onclick="@(() => this.NavigateToTraining())">
            <h2><FluentEmoji Value="@(new Emojis.PeopleBody.Color.Default.FlexedBiceps())" /> Entrainement</h2>
            <p>Tentez de répondre aux questions !</p>
        </FluentCard>

        <FluentCard Width="350px" Height="200px" onclick="@(() => this.NavigateToQuestions())">
            <h2><FluentIcon Value="@(new Icons.Regular.Size20.Question())" /> Questions</h2>
            <p>Ajoutez, modifiez ou supprimez des questions</p>
        </FluentCard>
    </div>
</div>